@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto:wght@400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --card-color-primary: #f7dd43;
  --card-title-border-color: #746615;
  --card-bg-color: #1d1c19;
  --bg: url(./assets/img/bg-yellow.svg);
}

body.blue {
  --card-color-primary: #338af3;
  --card-title-border-color: #338af3;
  --card-bg-color: #202024;
  --bg: url(./assets/img/bg-blue.svg);
}

body.green {
  --card-color-primary: #047c3f;
  --card-title-border-color: #047c3f;
  --card-bg-color: #1a1f1b;
  --bg: url(./assets/img/bg-green.svg);
}

body {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background-repeat: no-repeat;
  background-color: #121214;
  background-image: var(--bg);
  background-position: top center;
  background-size: contain;
}

#app {
  display: flex;
  flex-direction: column;
  margin: 52px auto;
  width: fit-content;
}

header {
  margin-bottom: 43px;
  text-align: center;
}

.theme {
  display: flex;
  justify-content: center;
  gap: 14px;
  margin-bottom: 20px;
}

.btn-theme {
  font-weight: 700;
  padding: 8px 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  box-shadow: #181818 2px 2px 8px;
  color: #ececec;
  transition: all 0.3s ease;
}

.btn-theme-yellow {
  background-image: linear-gradient(#181818e6,#746615);
}

.btn-theme-yellow:hover{
  background-image: linear-gradient(#746615,#181818e6);
}

.btn-theme-blue {
  background-image: linear-gradient(#181818e6,#338af3);
}

.btn-theme-blue:hover{
  background-image: linear-gradient(#338af3,#181818e6);
}

.btn-theme-green {
  background-image: linear-gradient(#181818e6,#047c3f);
}

.btn-theme-green:hover{
  background-image: linear-gradient(#047c3f,#181818e6);
}


#cards {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  padding: 0 24px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 23px 0;
  background: var(--card-bg-color);
  border-bottom: 2px solid var(--card-color-primary);
  border-radius: 6px;
  margin-bottom: 30px;
}

.card h2 {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  color: #f7dd43;
  font-weight: 700;
  font-size: 24px;
  border-radius: 6px;
  border: 1px solid var(--card-title-border-color);
  margin-bottom: 52px;
}

.card h2 span {
  color: #e1e1e6;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}

.card ul {
  list-style: none;
  width: 270px;
}

.card ul li {
  padding: 24px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card ul li strong {
  font-size: 36px;
  font-weight: 900;
  color: #e1e1e6;
}

.card ul li + li {
  border-top: 1px solid #323238;
}

.card ul li img {
  width: 50px;
  height: 50px;
}

.card h2,
.card ul li img,
.card ul li strong {
  transition: all 0.3s ease;
}

.card h2:hover,
.card ul li img:hover,
.card ul li strong:hover {
  transform: scale(1.1);
  cursor: default;
}

.card {
  opacity: 0;
  animation: appear 3s forwards;
}

@keyframes appear {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@media screen and (min-width: 500px) {
  #cards {
    max-width: 1440px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
